.principal {
   background-color: #fefafb;
   display: flex;
   justify-content: center;
   align-items: center;   
   height: 100vh;
   width: 100vw;
   text-align: center;
}

.caixa{
     background-color: #fed9e4;
    width: 23%;
    height: 60%;
    border-radius: 50px;;
    border: 3px solid #8C7370;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px; 
}

.titulo, .decoracao {
    color: #9e848c;
    background-color:#e7d2be;
    border: none;
    border-radius: 2vh;
}

.botao1, .botao2, .botao3, .botao4, .botao5 {
    color:#9e848c;
    background-color: #fff1e6;
    text-align: center;
    padding: 0.5rem;
    border-radius: 4rem;
    border: 2px solid #9e848c;
    width: 60%;
    max-width: 3000px;

}