.principal {
    background-image: url("./imgpnn/green.jpeg");
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.titulo {
    color: #F2EFDC;
    background-color: #7d8a69;
    border: none;
    border-radius: 2vh;
}

.caixa {
    background-color:#A2A685;
    border: 1.5px solid #657351;
    width: 80%;
    height: 50%;
    max-width: 25rem;
    padding: 1.25rem;
    border-radius: 1.563rem;
    opacity: 0.95;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input {
    height: 25px;
    width: 45%;
    border-radius: 12px;
    border: none;
    text-align: center;
    opacity: 0.90;
    color:#657351;
}

input:hover::placeholder {
  color:#1d2314; 
  opacity: 1;
}

.caixa-menor {
    background-color: #f5f1dd;
    margin: 0 auto; 
    width: 45%;
    height: 40%;
    max-width: 25rem;
    opacity: 0.8;
    padding: 1.25rem;
    border-radius: 1.600rem;
    border: none;
    opacity: 0.80;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.button {
    color:#1d2314;
    border: none;
    border-radius: 20px;
    height: 6vh;
    width: 12vh;
     background-image: url("./imgpnn/green.jpeg");
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.res {
    font-weight: bold;
    color:#657351;
}