.principal {
   background-image: url("./imgmd/23.jpeg");
   background-size: cover;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;   
   height: 100vh;
   width: 100vw;
   text-align: center;
}

.caixa {
    background-color: #d9b8c2;
    width: 23%;
    height: 65%;
    border-radius: 12px;;
    border: 3px solid #8C7370;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px; 
}

.botao {
    color:#ae7b8a;
    background-color: #F2E9E4;
    text-align: center;
    padding: 0.5rem;
    border-radius: 4rem;
    border: none;
    width: 50%;
    max-width: 250px;
}

.titulo {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#ae7b8a;
}

.our0, .pr4, .bro {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    color:#ae7b8a;
    font-family:serif;
}

.na1, .na2, .na3 {
    background-color: #f0d8dd;
    text-align: center;
    padding: 0.5rem;
    border-radius: 4rem;
    border: 1.5px solid #8C7370;;
    width: 70%;
max-width: 250px;
    
}
