
.principal {
   background-color: #f3e6e0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   height: 100vh;
   width: 100vw;
   text-align: center;
}

.caixa {
    width: 90%;
    height: 60%;
    max-width: 25rem;
    padding: 1.25rem;
    border-radius: 1.563rem;
    background-image: url("./imgtb/caixaimg.jpeg");
    background-size: cover;
    opacity: 0.95;
}

.tittle {
    font-size: 2.5rem;
    color: #42281b;
    margin-bottom: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;     
}

.button {
    background-image: url("./imgtb/buttonimg.jpeg");
    border-radius: 15px;
    border: 2px solid #42281b;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.65rem;
    background-size: cover; 
    background-position: center;
    color:#42281b;
}

.subt1, .subt2 {
    font-size: 1.6rem;
    color: #20120a;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.selection {
    font-size: 1.3rem;
    color:#42281b;
    background-color: #f3e6e0;
    border: 2px solid #42281b;
    border-radius: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.valor {
    font-size: 1.32rem;
    color:#42281b;
}

.caixa-menor {
    background-color: #f5f1dd;
    margin: 0 auto; 
    width: 45%;
    height: 55%;
    max-width: 25rem;
    opacity: 0.8;
    padding: 1.25rem;
    border-radius: 1.600rem;
    border: 2px solid #f3e6e0;
    opacity: 0.80;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}